@model Course
@{
    ViewData["Title"] = "EnglishSchool.Admin";
}

<script src="~/js/ckeditor/ckeditor.js"></script>

<div id="edit">
    <h1>Редактировать курс</h1>
    <div>
        <form asp-area="Admin" asp-controller="Course" asp-action="CoursesEdit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="All">
            </div>

            <div>
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <label asp-for=ImageURL></label>
                <input asp-for="ImageURL" />
            </div>
            <input type="submit" value="сохранить" />
        </form>
    </div>
</div>

<script>
    window.onload = function () {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Title)');
        newCKEdit.updateElement();
    }
</script>