<header>
    <div id="contacts">
        <span>@Config.CompanyPhone</span>
        <span>@Config.CompanyEmail</span>
        <span>@Config.Instagram</span>
    </div>
    <div id="logo" onclick="slowScroll('#top')">
        <span>@Config.CompanyName</span>
    </div>
    <div id="control">
        <a asp-area="" asp-controller="Home" asp-action="Index">Курсы</a>
        <a asp-area="" asp-controller="GalleryUser" asp-action="Index">Галерея</a>
        <a asp-area="" asp-controller="Timetable" asp-action="Index">Расписание</a>
        <a asp-area="" asp-controller="About" asp-action="Index">Преподаватель</a>
        <a asp-area="" asp-controller="Request" asp-action="Index">Заявка</a>
    </div>
</header>
