<div id="about">
    <div id="about_text">
        <img src="ссылка на фото" />
         Привет! Меня зовут Наталья, и я увлекаюсь развитием билингвизма у детей.
        Образование:
        - диплом магистра кафедры и межкультурной коммуникации и перевода БГПУ им. Акмуллы;
        - удостоверение о повышении квалификации в УГНТУ "Английский дял специалистов нефтегазовой промышленности".
        С возраста от 1 до 3-х лет (в момент становления родного языка) дети совершенно уникально запоминают и воспроизводят
        иностранную речь. Меня вдохновляла сама идея искусственной среды билингвизма по системе 1 родитель - 1 язык
        (мама, например, говорит с ребенком только на английском, а папа - на русском).
        Я познакомила сына с Английским, когда ему было уже больше двух лет. У него появился отличный пассивный запас,
        но сын не заговорил. Он все понимал, называл, приносил, показывал, но в активную речь так и не выводил. Мой 
        энтузиазм угас, и вернулась к полноценным занятиям я только спустя 2 года с совершенно другой методикой. Так
        началсянаш интересный путь погружения в искусственную англо-среду.
        На данный момент ребенку 6 лет и Английский у него - это часть посведневного общения.
    </div>
</div>