@model IQueryable<EnglishSchool.Data.Entities.Course>
@{
    ViewData["Title"] = "EnglishSchool.Admin";
}
<div id="top">
    <div id="edit">
        <a asp-area="Admin" asp-controller="Course" asp-action="CoursesEdit" asp-route-id="">Новый курс</a>
        <a asp-area="Admin" asp-controller="Gallery" asp-action="GalleryEdit" asp-route-id="">Новое изображение</a>
        <a asp-area="Admin" asp-controller="Timetable" asp-action="TimetableEdit" asp-route-id="">Редактировать расписание</a>
        <a asp-area="Admin" asp-controller="About" asp-action="AboutEdit" asp-route-id="">Редактировать о себе</a>
        @foreach (Course entity in Model)
        {
            <div>
                @entity.Title - @entity.Description
                <br />
                |
                <a asp-area="Admin" asp-controller="Course" asp-action="CoursesEdit" asp-route-id="@entity.Id">редактировать</a>
                |
                <form method="post" asp-controller="Course" asp-action="CourseDelete">
                    <input type="hidden" name="id" value="@entity.Id" />
                    <input type="submit" value="удалить" />
                </form>
            </div>
        }
        <h3>Редактировать страницы сайта</h3>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageCourse">Курсы</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageGallery">Наши услуги</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageTimetable">Расписание</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageAbout">Преподаватель</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageRequest">Заявка</a>
    </div>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>