@model EnglishSchool.Data.Entities.Gallery;
    <div id="edit">
        <h1>Редактировать галерею</h1>
        <div>
            <form asp-area="Admin" asp-controller="Gallery" asp-action="GalleryEdit" method="post">
                <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="All"></div>
                <div>
                    <label asp-for="Title"></label>
                    <input asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div>
                    <label asp-for="ImageURL"></label>
                    <input asp-for="ImageURL" />
                    <span asp-validation-for="ImageURL"></span>
                </div>
                <input type="submit" value="сохранить" />
            </form>
        </div>
    </div>